apiVersion: v1
kind: Service
metadata:
  name: hello-world-service
spec:
  type: NodePort
  selector:
    app: hello-world-python
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30007
